vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 May 2011 23:54:32 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|Jenna-PC\\Jenna
vti_modifiedby:SR|Jenna-PC\\Jenna
vti_timecreated:TR|23 May 2011 23:54:32 -0000
vti_cacheddtm:TX|23 May 2011 23:54:32 -0000
vti_filesize:IR|2496
vti_cachedlinkinfo:VX|S|../images/logonoglow.png S|../images/logonoglow.png S|../images/toad.jpg S|../images/button_default2.png S|../images/button_default1.png S|../images/button_press1.png
vti_cachedsvcrellinks:VX|FSUS|Mayfield/images/logonoglow.png FSUS|Mayfield/images/logonoglow.png FSUS|Mayfield/images/toad.jpg FSUS|Mayfield/images/button_default2.png FSUS|Mayfield/images/button_default1.png FSUS|Mayfield/images/button_press1.png
vti_backlinkinfo:VX|Mayfield/php/header.php Mayfield/html/template.html
